{% if hot_posts %}
<div class="right_sidebar">
    <div>
        <div class="section-head">
            24小時熱門文章
        </div>
        <div>
            <section class="section-item">
                <ul>
                    {% for hot_post in hot_posts['hot_posts_1'] %}
                    <li>
                        <h5>
                            <a href="/a/{{ hot_post['_id'] }}" target="_blank" class="news-link">
                                {{ hot_post['title'] }}
                            </a>
                        </h5>
                    </li>
                    {% end %}
                </ul>
            </section>
        </div>
    </div>
</div>
{% end %}