{% if data['new_comment_posts'] %}
<div class="right_sidebar">
    <div>
        <div class="section-head">
            最新評論文章
        </div>
        <div>
            <section class="section-item">
                <ul>
                    {% for new_comment_post in data['new_comment_posts'] %}
                    <li>
                        <h5>
                            <a href="/a/{{ new_comment_post['_id'] }}" target="_blank" class="news-link">
                                {{ new_comment_post['title'] }}
                            </a>
                        </h5>
                    </li>
                    {% end %}
                </ul>
            </section>
        </div>
    </div>
</div>
{% end %}