<div class="related-post-list">
    <div class="section-head">相關文章</div>
    <div class="related-posts">
        {% for related_post in t_self.data["related_posts"] %}
            <div class="list-item">
                <h4 class="list-item-title">
                    <a href="/a/{{ related_post['_id'] }}" target="_blank" title="{{ related_post['title'] }}">
                        {{ related_post['title'] }}			
                    </a>
                </h4>
                {% if related_post.get('desc',None) %}
                <p class="post-excerpt">
                    <a href="/a/{{ related_post['_id'] }}" target="_blank" title="{{ related_post['title'] }}">
                        {{ related_post['desc'] }}
                    </a>
                </p>
                {% end %}
                <div class="post-meta">
                    <img src="/static/svgs/user.svg" />
                    <a  href="/u/{{ related_post['user']['_id'] }}">{{ related_post['user']['user_name'] }}</a>
                    <img src="/static/svgs/clock.svg" />
                    <span>{{ related_post['post_date'] }}</span>
                </div>
            </div>
        {% end %}
    </div>
</div>