<div class="sidebar">
    <div class="widget widget_wazhuti_search">
        <form method="get" class="search-form" id="search-formhybrid-search" action="https://search.xuehua.us/search">
            <div class="search-input">
                <input name="q" class="search-text" type="search"/>
                 <input type="hidden" name='site_id' value="{{ t_self.site_id }}" />
                <input type="submit" value="　" class="search-button"  formtarget="_blank">
            </div>
        </form>
    </div>
    <div class="widget_text widget widget_custom_html">
        <div class="textwidget custom-html-widget">
            {% if t_self.site_id == "5" %}
            {# 实时热门下方 #}
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7536255340317474"
                 data-ad-slot="2970901942" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            {% elif t_self.site_id == "6" %}
            {# 侧边1 #}
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3219336841483159"
                 data-ad-slot="6621260233"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {% end %}
        </div>
    </div>

    <div class="widget widget_top-posts">
        <div class="w_title"><h3>
                            {% if t_self.data['lang'] in ['zh-tw','zh-hk'] %}
                    熱門新聞
                    {% else %}
                    热门新闻
                    {% end %}</h3></div>
        <ul>
            {% for hot_post in t_self.data['hot_posts'] %}
            <li>
                <a href="/a/{{ hot_post['_id'] }}
                    {% if t_self.data['lang'] %}?lang={{ t_self.data['lang'] }}{% end %}
                    " class="bump-view" data-bump-view="tp"> {{ hot_post['title'] }} </a></li>
            <li>
                {% end %}
        </ul>
    </div>
</div>