{% extends "base.html" %}

{% block title %}
<title>{{ post['title'] }}</title>
{% end %}

{% block article_header %}
    <meta content="{{ ','.join(x['name'] for x in post['tags']) }}" name="keywords">
    <meta content="{{ post['desc'] }}" name="description">
    <meta content="article" property="og:type"/>
    <meta content="{{ post['title'] }}" property="og:title"/>
    <meta content="{{ post['desc'] }}" property="og:description"/>
    <meta content="{{post['post_thumb']}}" property="og:image"/>
{% end %}

{% block container %}
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <header class="article-header"><h1 class="article-title">{{ post['title'] }}</h1>
                <div class="article-meta"><span class="item">{{ post['post_date'] }}</span><span class="item">分类：<a
                        href="/c/{{ post['category'][0]['_id'] }}/">{{ post['category'][0]['name'] }}</a></span></div>
            </header>
            <article class="article-content"><p>{% raw post['content'] %}</article>
            <div class="article-copyright">未经允许不得转载：<a href="/c/{{ post['category'][0]['_id'] }}/">{{
                post['category'][0]['name'] }}</a> &raquo; <a
                    href="/a/{{post['_id']}}">{{ post['title'] }}</a></div>
            <div class="article-actions clearfix">

                <div class="shares"><strong>分享到：</strong><a class="share-weixin"
                                                            data-url="https://www.twoeggz.com/info/454550.html"
                                                            href="javascript:;" title="分享到微信"><i class="fa">&#xe60e;</i></a><a
                        class="share-qzone" data-share="qzone" etap="share" title="分享到QQ空间"><i
                        class="fa">&#xe607;</i></a><a class="share-tsina" data-share="weibo" etap="share"
                                                      title="分享到新浪微博"><i class="fa">&#xe608;</i></a><a class="share-tqq"
                                                                                                       data-share="tqq"
                                                                                                       etap="share"
                                                                                                       title="分享到腾讯微博"><i
                        class="fa">&#xe60c;</i></a><a class="share-sqq" data-share="qq" etap="share" title="分享到QQ好友"><i
                        class="fa">&#xe609;</i></a><a class="share-renren" data-share="renren" etap="share"
                                                      title="分享到人人网"><i class="fa">&#xe60a;</i></a><a
                        class="share-douban" data-share="douban" etap="share" title="分享到豆瓣网"><i class="fa">&#xe60b;</i></a><a
                        class="share-facebook" data-share="facebook" etap="share" title="分享到Facebook"><i class="fa">&#xe60f;</i></a><a
                        class="share-twitter" data-share="twitter" etap="share" title="分享到Twitter"><i class="fa">&#xe612;</i></a><a
                        class="share-linkedin" data-share="linkedin" etap="share" title="分享到Linkedin"><i class="fa">&#xe611;</i></a>
                </div>
            </div>
            <nav class="article-nav">
                <span class="article-nav-prev">上一篇<br>
                    {% if post['prev_post'] %}
                    <a href='/a/{{post["prev_post"]["_id"]}}'>{{post['prev_post']['title']}}</a>
                    {% else %}
                    没有更多文章了
                    {% end %}
                </span>
                <span class="article-nav-next">下一篇<br>
                    {% if post['next_post'] %}
                    <a href='/a/{{post["next_post"]["_id"]}}'>{{post['next_post']['title']}}</a>
                    {% else %}
                    没有更多文章了
                    {% end %}
                </span></nav>
            <div class="postitems"><h3>相关推荐</h3>
                <ul>
                    {% for related_post in related_posts %}
                    <li><a href="/a/{{ related_post['_id'] }}" target="_blank"><span>
                        <img alt="{{ related_post['title'] }}" class="thumb" referrerpolicy="no-referrer" src="
                        {% if related_post['post_thumb'] %}
                        {{related_post['post_thumb']}}
                        {% else %}
                        {{ static_url('theme1/default_thumb_204_133.png')}}
                                                {% end %}
                        "></span><span
                            class="classname">{{ related_post['category'][0]['name'] }}</span>{{ related_post['title'] }}</a></li>
                    {% end %}
                </ul>
            </div>
            <div class="asst asst-single-comment"></div>
        </div>
    </div>
    <div class="sidebar">
        {% if hot_posts %}
        <div class="widget widget-postlist"><h3>热门资讯</h3>
            <ul>
                {% for hot_post in hot_posts %}
                <li><a href="/a/{{ hot_post['_id'] }}" target="_blank"><span><img alt="{{ hot_post['title'] }}"
                                                                           class="thumb" referrerpolicy="no-referrer"
                                                                           src="
                    {% if hot_post['post_thumb'] %}
                    {{ hot_post['post_thumb'] }}
                    {% else %}
                        {{ static_url('theme1/default_thumb_156_102.png')}}
                                                {% end %}
                    "></span>{{ hot_post['title'] }}</a>
                </li>
                 {% end %}
            </ul>
        </div>
        {% end %}
    </div>
</section>
{% end %}

{% block script %}
<script type="text/javascript" src="{{ static_url('js/js.cookie.min.js') }}"></script>
<script>$(".article-content img").lazyload();</script>
<script>
    var post_id = "{{ post['_id'] }}";
    {% if user['is_login'] %}
    var user_id = "{{ user['_id'] }}";
    {% end %}
    var token = getCookie('_xsrf');
</script>
<script>
console.log(token);
    $.ajax({
        url: '/views',
        headers: {'X-XSRFToken' : token },
        data: {post_id: post_id },
        type: "POST",
    });
</script>
{% end %}