<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
          name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="no-siteapp" http-equiv="cache-control">
    <meta name="referrer" content="no-referrer">
    <meta name="google-site-verification" content="OtsTgPWxNyqt16ouOKiHbw5pkRq1V5TWevZ3XLeS9xQ" />
    {% block title %}
    {% end %}
    <link href="{{static_url('theme1/theme1.css')}}" id="main-css" media="all" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('lib/layui/css/layui.css')}}" media="all" rel="stylesheet" type="text/css"/>
    <script src="{{static_url('lib/layui/layui.all.js')}}" type="text/javascript"></script>
    {% block article_header %}
    {% end %}
    <script>
        var  $ = layui.jquery;
        var jQuery = layui.jquery;

    </script>
</head>
<body class="single-post comment-open info">
<header class="header">
    <div class="container">
        <div class="logo"><a href="/" title="{{site_name}}"><img src="{{ static_url("theme1/logo.png") }}"><span>{{site_name}}</span></a>
        </div>
        <div class="sitenav">
            <ul>
                <li><a href="/">首页</a></li>
                {% for menu in menus[0:8] %}
                <li><a href="/c/{{ menu['_id'] }}/">{{ menu['name'] }}</a></li>
                {% end %}
                {% if len(menus) > 8 %}
                <li class="menu-item-has-children"><a>更多</a>
                    <ul class="sub-menu">
                        {% for menu in menus[8:] %}
                        <li><a href="/c/{{ menu['_id'] }}/">{{ menu['name'] }}</a></li>
                        {% end %}
                    </ul>
                </li>
                {% end %}
            </ul>
        </div>
        <span class="sitenav-on"><i class="fa">&#xe605;</i></span><span class="sitenav-mask"></span><span
            class="searchstart-on"><i class="fa">&#xe600;</i></span><span class="searchstart-off"><i
            class="fa">&#xe606;</i></span>
        <form action="" class="searchform" method="get" target="_blank">
            <button class="sbtn" onclick="so()" tabindex="3" type="submit"><i class="fa">&#xe600;</i></button>
            <input class="sinput" id="bdcsMain" placeholder="输入关键字" tabindex="2" type="text" value=""></form>
    </div>
</header>
<div class="widget_links"></div>
{% block container %}
{% end %}
<footer class="footer">&copy; 2015-2020 <a href="/">{{ site_name }}</a> 看你所看,想你所想</footer>
<script type="text/javascript" src="{{ static_url('lib/lozad.min.js') }}"></script>
<script>
const observer = lozad('img', {
    load: function(el) {
            const src = el.getAttribute('data-original')
            if (src) {
                el.src = src;
            }
    }
});
observer.observe();
</script>
<script src="{{static_url('lib/jquery.qrcode.min.js')}}" type="text/javascript"></script>
<script src="{{ static_url('theme1/theme1.js') }}" type="text/javascript"></script>
{% block script %}
{% end %}
</body>
</html>