{% extends "base.html" %}

{% block container %}
<div class="focusbox"><div class="container"><h1 class="focusbox-title">{{ data['category']['name'] }}</h1></div></div>
<section class="container">
    <div class="excerpts-wrapper">
        <div class="excerpts">
            {% for post in posts %}
            <article class="excerpt excerpt-c5"><a class="thumbnail" href="/a/{{ post['_id'] }}" target="_blank"><img
                    referrerpolicy="no-referrer"
                    data-original="
                    {% if post['post_thumb'] %}
                    {{ post['post_thumb'] }}
                    {% else %}
                    {{ static_url('theme1/default_thumb.png') }}
                    {% end %}
                    "
                    class="lazyload thumb" alt="{{ post['title'] }}"></a>
                <h2><a href="/a/{{ post['_id'] }}" target="_blank">{{ post['title'] }}</a></h2>
            </article>
            {% end %}
        </div>
    </div>
    <div class="pagination">
        <ul>
            {% if int(data['page']) > 1  %}
                <li><a href="/c/{{ data['category']['_id'] }}/{{ int(data['page'])-1 }}/">上一页</a></li>
            {% end %}
            {% if len(posts) >= t_self.articles_per_page %}
                <li><a href="/c/{{ data['category']['_id'] }}/{{ int(data['page'])+1 }}/">下一页</a></li>
            {% end %}

        </ul>
    </div>
</section>
{% end %}

{% block script %}
{% end %}