<!DOCTYPE html>
<html>

<head>
		<meta charset="UTF-8">
		{% raw config.custom_meta %}
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ post['title'] }} - {{ config.site_name }}</title>
        <meta name="description" content="{{ post['desc'] }}" />
        {% include common-header.html %}
        {% include common-front-header.html %}
        <script src="{{ static_url('ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js') }}"></script>
        <link rel="stylesheet" href="{{ static_url('ckeditor/plugins/codesnippet/lib/highlight/styles/default.css') }}">
        <link rel="alternate" hreflang="zh-Hant" href="{{ config.site_domain }}/a/{{post['_id']}}" />
        <link rel="alternate" hreflang="zh-Hans" href="{{ config.site_domain }}/a/{{post['_id']}}/zh-cn" />
        {% raw config.analytics_code %}
        {% raw config.adsense_code %}
        <script type="text/javascript" src="{{ static_url('js/article/article.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/ads.js') }}"></script>
</head>

<body>
    {% block header %}
        {% include ../component/header.html %}
    {% end %}
    {% include ../component/totop.html %}

    <div class="container" id="content-wrapper">
        <div class="content">
            {% block menu %}
            {% end %}
            <div class="main-content">
                <div class="article-wrapper">
                    {% block breadcrumb %}
                        {% include ../component/breadcrumb.html %}
                    {% end %}
                    <h1>{{ post['title'] }}</h1>
                    <div class="post-meta">
                        <span class="original">原創</span> 
                        <img src="/static/svgs/user.svg" />
                        <a href="/u/{{ post['user']['_id'] }}" target="_blank">{{ post['user']['user_name'] }}</a>
                        <img src="/static/svgs/clock.svg" />
                        <span> {{ post['post_date'] }} </span>
                    </div>
                    <div class="article-content">
                        {% raw post['content'] %}
                    </div>
                    <div id="ads-article-bottom-match">
                    </div>
                    <ul class="tag-list">
                        {% for tag in post['tags'] %}
                        <li>
                            <a href="/t/{{ tag['_id'] }}" target="_blank" class="label-link">{{ tag['name'] }}</a>
                        </li>
                        {% end %}
                    </ul>
                    {% block more-content %}
                    {% end %}
                </div>
            </div>
            <div class="secondary-content feed">
                {% block right_sidebar %}
                {% end %}
            </div>
        </div>
        {% block footer %}
            {% include ../component/footer.html %}
        {% end %}
    </div>
<script>
    var post_id = "{{ post['_id'] }}";
    var token = getCookie('_xsrf');
</script>
<script>
    $.ajax({
        url: '/views',
        headers: {'X-XSRFToken' : token },
        data: {post_id: post_id },
        type: "POST",
    });
</script>
<script src="{{ static_url('js/custom_fix.js') }}"></script>
<script>
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
<script src="{{ static_url('js/article/load_comments.js') }}"></script>
</body>
</html>