<html>
    <head>
        <meta charset="UTF-8">
        {% raw config.custom_meta %}
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>{{ config.site_name }}{{author['user_name']}}</title>
        <meta name="keywords" content="">
        <meta name="description" content="" />
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        <script type="text/javascript" src="/static/js/lib/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        {% raw config.analytics_code %}
    </head>
    <body class='author-page'>
        {% block header %}
            {% include ../component/header.html %}
        {% end %}
        {% block content-body %}
        <div class="container">
            <div class="author-banner">
                <img src="/static/svgs/open-book.svg" />
                <div class="banner-title">
                    {{author.user_name}} 的主頁
                </div>
            </div>
        </div>
        <div id="content-wrapper" class="container">
            <div class="content">
                <div class="secondary-content">
                    {% block left_sidebar %}
                    {% end %}
                </div>
                <div class="main-content">
                    <div class="list">
                        {% for post in posts %}
                        <section class="list-item">
                            <div>
                                <h4 class="list-item-title"><a href="/a/{{ post['_id'] }}" target="_blank" class=""><span class='original'>原创</span>{{ post['title'] }}</a></h4>
                                <p class='item-description'>{{post.desc}}</p>
                                <div class="post-meta">
                                    <img src="/static/svgs/clock.svg" />
                                    <span>{{ post.post_date }}</span>
                                    {% if post.views is not None  %}
                                        <img src="/static/svgs/view.svg" />
                                        <span>{{ post.views }}</span>
                                    {% end %}
                                </div>
                            </div>
                        </section>
                        {% end %}
                    </div>
                    {% block pagination %}
                        {% include ../component/pagination.html %}
                    {% end %}
                </div>
            </div>
            {% block footer %}
                {% include ../component/footer.html %}
            {% end %}
        </div>
        {% end %}
    </body>
</html>