<link rel="dns-prefetch preconnect" href="https://www.google-analytics.com" />
<link rel="dns-prefetch preconnect" href="https://pagead2.googlesyndication.com" />
<link rel="dns-prefetch preconnect" href="https://googleads.g.doubleclick.net" />
<link rel="dns-prefetch preconnect" href="https:///www.googletagmanager.com" />
<link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{{ static_url('lib/fontello/css/fontello.css') }}"/>
<script type="text/javascript" src="{{ static_url('js/lib/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/common.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url('css/header.css') }}"/>
<link rel="stylesheet" href="{{ static_url('lib/layui/css/layui.css') }}" media="all">
<script src="{{ static_url('lib/layui/layui.js') }}"></script>
