<!DOCTYPE html>
<html>
 	<head>
		<meta charset="UTF-8">
		{% raw config.custom_meta %}
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ config.site_name }}</title>
		<meta name="keywords" content="">
		<meta name="description" content="" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
		{% include common-header.html %}
        <script type="text/javascript" src="/static/js/lib/jquery-3.3.1.min.js"></script>
    	<script type="text/javascript" src="/static/js/main.js"></script>
		{% raw config.analytics_code %}
		{% raw config.adsense_code %}
 	</head>
 	<body>
		{% block header %}
			{% include ../component/header.html %}
		{% end %}
		{% include ../component/totop.html %}
		{% block content-body %}
		<div id="content-wrapper" class="container">
			<div class="content">
				{% block menu %}
					{% include ../component/menu.html %}
				{% end %}
				<div class="main-content">
					<div class="list" id="content-list">
						{% include ../component/list-page/content-list.html %}
					</div>
                <div class="loading ball-pulse" style="display: none;"><div></div> <div></div> <div></div> <span>加载中⋅⋅⋅</span></div>
					{% block pagination %}
						{% include ../component/pagination.html %}
					{% end %}
				</div>
				<div class="secondary-content feed">
					{% block right_sidebar %}
					{% end %}
				</div>
			</div>
			{% block footer %}
				{% include ../component/footer.html %}
			{% end %}
		</div>
		{% end %}
		{% block script %}
		{% end %}
 	</body>
 </html>