<!DOCTYPE html>
<html>

<head>
		<meta charset="UTF-8">
		{% raw config.custom_meta %}
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ post['title'] }} - {{ config.site_name }}</title>
		<meta name="description" content="{{ post['desc'] }}" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/prism.css"/>
        <link rel="alternate" hreflang="zh-Hant" href="{{ config.site_domain }}/a/{{post['_id']}}/" />
        <link rel="alternate" hreflang="zh-Hans" href="{{ config.site_domain }}/a/{{post['_id']}}/zh-cn/" />
		<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    	<script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="/static/js/prism.js"></script>
        {% raw config.analytics_code %}
</head>

<body>
    <div class="main">
        <section id="menu-wrapper">
            <ul class="menu">
                <li>
                    <a href="/">
                        <span class="menu-li-title">{{ config.site_name }}</span>
                        <img class="menu-li-arrow" src="/static/images/arrow-forward.png" alt="">
                    </a>
                </li>
                {% for menu in menu_left %}
                <li>
                    <a href="/c/{{ menu['_id'] }}/">
                            <span class="menu-li-title">{{ menu['name'] }}</span>
                            <img class="menu-li-arrow" src="/static/images/arrow-forward.png" alt="">
                    </a>
                </li>
                {% end %}
            </ul>
        </section>
        <div class="news-header">
                <div class="middlebar">
                    <div class="middlebar-inner clearfix">
                    <div class="bui-left logo-box">
                        <div id="logo_article">
                            <a href="/">{{ config.site_name }}</a>
                        </div>
                    </div>
                        <div class="bui-left chinese-tag">
                            <a href="/" target="_blank">首页</a>
                            /
                            <a href="/c/{{ post['category'][0]['_id'] }}/" target="_blank">{{ post['category'][0]['name'] }}</a>
                            /
                            <span class="text">正文</span>
                        </div>
                    </div>
                </div>
        </div>
        <div id="box">
            <section id="header">
                <div id="header-left">
                    <a href="#" id="a-menu">
                        <img src="/static/images/menu.png" alt="menu">
                    </a>
                </div>
                <div id="header-title">
                    <h1>{{ config.site_name }}</h1>
                </div>
            </section>
            <div id="left_sidebar">
                <ul>
					{% for menu in menu_left %}
					<li>
                        <a href="/c/{{ menu['_id'] }}/" class="category"><span>{{ menu['name'] }}</span></a>
                    </li>
					{% end %}
                </ul>
            </div>
            <div class="bui-left index-middle">
			    <div class="article-box">
				<h1 class="article-title">{{ post['title'] }}</h1>
				<div class="article-sub">
					<span class="original">原创</span> <span>{{ post['user']['user_name'] }}</span> <span> {{ post['post_date'] }} </span>
				</div>
				<div class="article-content">
					{% raw post['content'] %}
				</div>
				<div class="bui-box article-tag">
					<div class="bui-left">
						<i class="bui-icon icon-tag" style="font-size: 21px; color: rgb(202, 202, 202);"></i>
						<ul class="tag-list">
							{% for tag in post['tags'] %}
							<li class="tag-item">
								<a href="/t/{{ tag['_id'] }}" target="_blank" class="label-link">{{ tag['name'] }}</a>
							</li>
							{% end %}
						</ul>
					</div>
				</div>
			    </div>
                <span class="related-title">相关文章</span>
                <div class="recommend-box">
                    {% for related_post in related_posts%}
                        <div class="recommend-item-box type_blog clearfix">
                            <div class="content">
                                            <a href="/a/{{ related_post['_id'] }}" target="_blank" title="{{ related_post['title'] }}">
                                            <h4 class="text-truncate oneline">
                                                    {{ related_post['title'] }}				</h4>
                                            <div class="info-box d-flex align-content-center">
                                                <p class="date-and-readNum">
                                                    <span class="date hover-show">{{ related_post['post_date'] }}</span>
                                                    </p>
                                                </div>
                                            </a>
                                                <p class="content">
                                                    <a href="/a/{{ related_post['_id'] }}" target="_blank" title="{{ related_post['title'] }}">
                                                        <span class="desc oneline">{{ related_post['desc'] }}
                                                        </span>
                                                    </a>
                                                                            <span class="blog_title_box oneline"><a target="_blank" href="#">来自：	<span class="blog_title"> {{ related_post['user']['user_name'] }}</span></a></span>
                                                                        </p>
                                        </div>
                        </div>
                    {% end %}
                </div>
		    </div>

			<div class="right_sidebar">

				<div id="hotnews">
					<div class="sidebar-head">
						24小时热门
					</div>
					<ul class="article-list">
						{% for hot_post in hot_posts %}
						<li class="article-item">
							<a href="/a/{{ hot_post['_id'] }}" target="_blank" class="news-link">
								<!--
								<div class="module-pic news-pic">
									<img src="//p9.pstatp.com/list/240x240/pgc-image/153622829372847ac5a43fc">
								</div>
								-->
								<div class="news-inner">
									<p class="module-title">{{ hot_post['title'] }}</p>
								</div>
							</a>
						</li>
						{% end %}
					</ul>
				</div>
			</div>

            <div style="clear: both;"></div>
        </div>
    </div>
</body>
<script>
$.post("/views", {post_id:"{{ post['_id'] }}" });
</script>
<script async type="text/javascript" src="/static/js/custom_fix.js"></script>
</body>

</html>