 <html>
 	<head>
		<meta charset="UTF-8">
		{% raw config.custom_meta %}
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ config.site_name }}</title>
		<meta name="keywords" content="">
		<meta name="description" content="" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
		<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    	<script type="text/javascript" src="/static/js/main.js"></script>
		{% raw config.analytics_code %}
 	</head>
 	<body>
	<div class="main">
		<section id="menu-wrapper">
            <ul class="menu">
                <li>
                    <a href="/">
                        <span class="menu-li-title">{{ config.site_name }}</span>
                        <img class="menu-li-arrow" src="/static/images/arrow-forward.png" alt="">
                    </a>
                </li>
                {% for menu in menu_left %}
                <li>
                    <a href="/c/{{ menu['_id'] }}/">
                            <span class="menu-li-title">{{ menu['name'] }}</span>
                            <img class="menu-li-arrow" src="/static/images/arrow-forward.png" alt="">
                    </a>
                </li>
                {% end %}
            </ul>
        </section>
 		<div id="box">
            <section id="header">
                <div id="header-left">
                    <a href="#" id="a-menu">
                        <img src="/static/images/menu.png" alt="menu">
                    </a>
                </div>
                <div id="header-title">
                    <h1>{{ config.site_name }}</h1>
                </div>
            </section>
			<div id="left_sidebar">
				<div id="logo">
					<a href="/">{{ config.site_name }}</a>
				</div>
				{% block category %}
				<ul>
					{% for menu in menu_left %}
									<li><a href="/c/{{ menu['_id'] }}/" class="category"><span>{{ menu['name'] }}</span></a></li>
					{% end %}
				</ul>
				{% end %}

			</div>
			<div id="main">
				<div id="index_posts">
					<ul>
						{% for post in posts %}
						<li>
							<div class="index_post">
								{% if "post_thumb" in post %}
								<div class="index_post_lbox">
									<a href="/a/{{ post['_id'] }}" target="_blank" class="img-wrap">
										<img src="{{ post['post_thumb'] }}"/>
									</a>
								</div>
								{% end %}
								<div class="index_post_rbox">
									<div class="index_post_rbox_inner">
										<div class="index_posts_title">
											<a href="/a/{{ post['_id'] }}" target="_blank" class="link">{{ post['title'] }}</a>
										</div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<span class="lbtn source">&nbsp;{{ post['user']['user_name'] }}&nbsp;</span>
													{% comment "<a class="lbtn source" target="_blank"  href="/c/user/{{ post['user']['_id'] }}/">&nbsp;{{ post['user']['user_name'] }}&nbsp;</a>" %}

												</div>
												<span class="lbtn">&nbsp;{{ post['post_date'] }}</span>
											</div>

										</div>
									</div>
								</div>
							</div>
						</li>
						{% end %}
					</ul>
				</div>
                {% block page %}
				<div id="pagenavi" class="clearfix">
						<a class="page-numbers current" href="/" title="第 1 页">1</a>
						<a class="page-numbers" href="/2/">2</a>
						<a class="page-numbers" href="/3/" title="第 3 页">3</a>
						<a class="page-numbers" href="/4/" title="第 4 页">4</a>
						<a class="page-numbers" href="/5/" title="第 5 页">5</a>
						<a class="page-numbers" href="/6/" title="第 6 页">6</a>
						<a class="page-numbers" href="/6/" title="第 7 页">7</a>
						<a class="page-numbers" href="/7/" title="第 8 页">8</a>
						<a class="page-numbers" href="/8/" title="第 9 页">9</a>
						<a class="page-numbers" href="/9/" title="第 10 页">10</a>
                </div>
                {% end %}
			</div>
			{% block login_sidebar %}
			{% end %}

			{% block right_sidebar %}
			{% end %}

		</div>

            </div>
 	</body>
 </html>