{% extends "base/list-page-base.html" %}

{% block page %}
	{% include component/pagination.html %}
{% end %}

{% block right_sidebar %}

	<div class="right_sidebar">

		<div id="hotnews">
			<div class="sidebar-head">
				{{ hot_posts['name'] }}   24小时热门
			</div>
			<ul class="article-list">
				{% for hot_post in hot_posts['list'] %}
				<li class="article-item">
					<a href="/a/{{ hot_post['_id'] }}" target="_blank" class="news-link">
						<!--
						<div class="module-pic news-pic">
							<img src="//p9.pstatp.com/list/240x240/pgc-image/153622829372847ac5a43fc">
						</div>
						-->
						<div class="news-inner">
							<p class="module-title">{{ hot_post['title'] }}</p>
						</div>
					</a>
				</li>
				{% end %}
			</ul>
		</div>
	</div>

{% end %}


{% block category %}
				<ul>
					{% for menu in menu_left %}
							{% if c_id == str(menu['_id']) %}
								<li><a href="/c/{{ menu['_id'] }}/" class="category category-active"><span>{{ menu['name'] }}</span></a></li>
							{% else %}
								<li><a href="/c/{{ menu['_id'] }}/" class="category"><span>{{ menu['name'] }}</span></a></li>
							{% end %}
					{% end %}
				</ul>
{% end %}
