						{% for post in posts %}
						<section class="list-item">
							<div>
								<h3 class="list-item-title">
									<a href="/a/{{ post['_id'] }}" target="_blank" class="" data-post-id="{{ post['_id'] }}">{{ post['title'] }}</a>
								</h3>
								<div class="post-meta">
									<a href="/u/{{post['user']['_id']}}" target="_blank" >
										<img src="/static/svgs/user.svg" />
										<span>{{ post['user']['user_name'] }}</span>
									</a>
									<img src="/static/svgs/clock.svg" />
									<span>{{ post['post_date'] }}</span>
								</div>
							</div>
						</section>
						{% end %}
