{% extends "../base/article-page-base.html" %}

{% block right_sidebar %}
    {% include ../component/author-info.html %}
    {% include ../component/hot-news.html %}
<div class="right_sidebar">
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2073744953016040"
     data-ad-slot="3358264730"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    {% include ../component/new-articles.html %}
    {% include ../component/u_categorys.html %}
    {% include ../component/new-comments.html %}
{% end %}

{% block more-content %}
    {% include ../component/comment-form.html %}
    {% include ../component/user-comments.html %}
    {% include ../component/related-posts.html %}
{% end %}