{% extends "../base/plain-page-base.html" %}

{% block metadata %}
    <script async type="text/javascript" src="/static/js/password_reset.js" ></script>
    <script async type="text/javascript" src="/static/js/common.js" ></script>
{% end %}

{% block header %}
{% include "../component/header-no-menu.html" %}
{% end %}

{% block content-body %}
    <h1>找回賬號密碼</h1>
    <div class='user-form'>
        <form id="reset-password-form" action="/api/account/password_reset/" method="post">
            {% module xsrf_form_html() %}
            <ul class='form-ul'>
                <li>
                    <input autocomplete="off" name="passwd" type="password" value="" placeholder="請輸入新密碼">
                </li>
                <div id="showResult"></div>
                <div class="err-info"></div>
                <li>
                    <input type="submit" value="重設密碼">
                </li>
            </ul>
        </form>
    </div>
{% end %}