/* tablet breakpoint: 960px */
/* mobile breakpoint: 720px */

/* primary text color: #494949 */
/* secondary text color: #2E2E2E */
/* menu color: #232323 */
/* theme color: #fd484d */
/* border color: #e0e0e0 */

/* svg element */
/* https://www.flaticon.com/packs */

/* ==== CSS reset ==== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:after, :before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* ==== Common ==== */
html, body {
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #494949;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: #2E2E2E;
    font-weight: 500;
}

h1 { font-size: 2.25rem; margin-bottom: 1rem; }
h2 { font-size: 2rem; margin-bottom: 0.75rem;}
h3 { font-size: 1.75rem; margin-bottom: 0.5rem; }
h4 { font-size: 1.50rem; margin-bottom: 0.5rem; }
h5 { font-size: 1.25rem; margin-bottom: 0.4rem; }
h6 { font-size: 1rem; margin-bottom: 0.3rem;}

a, a:hover, a:focus {
    cursor: pointer;
    color: #494949;
}

p {
    margin-bottom: 0.8rem;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

body {
    background-color: #F7F7F7;
}

/* ==== Header ==== */
.header-wrapper {
    margin: 3rem 0;
}

.header-top {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo,
.logo:hover,
.logo:focus {
    color: #2E2E2E;
    font-size: 2.5rem;
}

.logo img {
    height: 80%;
    width: auto;
    padding-right: 1rem;
}

.meta-bar {
    display: inline-block;
    vertical-align: middle;
}

.meta-bar a {
    display: inline-block;
    line-height: 3rem;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    padding: 0px 1.5rem;
}

.search, .login, .signup {
    color: #fd484d;
}

.login {
    border: 1px solid #fd484d;
    border-radius: 0.25rem;
    margin-left: 1.5rem;
}

.search:hover, 
.signup:hover {
    color: #fd484d;
}

.login:hover {
    color: #fff;
    background-color: #fd484d;
}

.menu {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    /* border-bottom: 1px solid #e0e0e0; */
}

#menu-wrapper.sticky {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

#menu-wrapper.sticky .menu {
    padding: 2rem 3rem;
    margin: 0 auto;
    max-width: 1048px;
    border: none;
}

.menu li {
    display: inline-block;
    margin-right: 2rem;
}

.menu li a{
    font-size: 1.1rem;
    color: #232323;
    font-weight: 700;
}

.menu li a::after {
    content: '';
    width: 1rem;
    border-bottom: 1px solid #494949;
    display: block;
    padding-bottom: 0.5rem;
    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;
}

.menu li a:hover::after {
    width: 100%;
}

/* ==== list body ==== */
.container {
    width: 100%;
    max-width: 1048px;
    margin: 0 auto;
    padding: 0 3rem;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

#content-wrapper {
    margin-bottom: 3rem;   
}

.left-content {
    flex-grow: 3;
    max-width: 680px;
    margin-right: 2rem;
    float: left;
    overflow: hidden;
}

.right-content {
    flex-grow: 1;
    max-width: 300px;
}

.list-item {
    margin-bottom: 2rem;
}

.list-item h2 a {
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-meta img {
    height: 1rem;
    width: auto;
    padding-right: 0.5rem;
}

.post-meta span {
    padding-right: 1rem;
}

.pagination {
    padding-top: 3rem;
}

.pagination a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #494949;
    margin-right: 1rem;
    text-align: center;
    line-height: 2rem;
}

.pagination a:hover,
.pagination a.current{
    border-color: #fd484d;
    color: #fff;
    background-color: #fd484d;
}
/* ==== article body ==== */
.sidebar-head {
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.sidebar-head:after {
    content: '';
    display: block;
    width: 10%;
    border-bottom: 1px solid #494949;
    padding-bottom: 0.5rem;
    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;
}

.sidebar-item li{
    padding-bottom: 0.5rem;
}

.right_sidebar:hover .sidebar-head:after {
    width: 100%;
}

.breadcrumb {
    margin: 1rem 0 1.5rem;
}

.metadata {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.original {
    border: 1px solid #494949;
    display: inline-block;
    padding: 0.1rem 0.2rem;
    margin-right: 0.5rem;
    border-radius: 4px;
}

.article-content {
    font-size: 1.25rem;
    color: #2E2E2E;
}


/* ==== other body ==== */

/* ==== Sidebar ==== */
/* ==== Footer ==== */
footer {
    height: 100px;
}
/* ==== Responsive ==== */
/** tablet breakpoint **/
@media (max-width: 960px) {
}

/** mobile breakpoint **/
@media (max-width: 720px) {
   .meta-bar .signup {
       display: none;
   }

   .main {
       padding: 0 1rem;
   }
}



.recommend-box, .article-list {
    margin-top: 1px;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.recommend-box .recommend-item-box:first-of-type {
    border-top: 1px solid  #e0e0e0;
}
.recommend-box .recommend-item-box {
    border-bottom: 1px solid #e0e0e0;
}

.recommend-box .recommend-item-box, .article-list .recommend-item-box, .recommend-box .article-item-box, .article-list .article-item-box {
    position: relative;
    margin-bottom: 1px;
    padding: 12px 24px;
    background-color: #fff;
}

.recommend-box *, .article-list * {
    word-wrap: break-word;
}

.recommend-box .recommend-item-box div.content, .article-list .recommend-item-box div.content, .recommend-box .article-item-box div.content, .article-list .article-item-box div.content {
    display: inline-block;
    font-size: 0;
    width: 100%;
}

.recommend-box .recommend-item-box h4, .article-list .recommend-item-box h4, .recommend-box .article-item-box h4, .article-list .article-item-box h4 {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 24px;
    color: #3d3d3d;
    display: inline-block;
}

.recommend-box .recommend-item-box div.info-box, .article-list .recommend-item-box div.info-box, .recommend-box .article-item-box div.info-box, .article-list .article-item-box div.info-box {
    padding-top: 4px;
    font-size: 14px;
    color: #6b6b6b;
    float: right;
    position: relative;
}

.recommend-box .recommend-item-box div.info-box, .article-list .recommend-item-box div.info-box, .recommend-box .article-item-box div.info-box, .article-list .article-item-box div.info-box {
    padding-top: 4px;
    font-size: 14px;
    color: #6b6b6b;
    float: right;
    position: relative;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

recommend-box .recommend-item-box p.content, .article-list .recommend-item-box p.content, .recommend-box .article-item-box p.content, .article-list .article-item-box p.content {
    font-size: 14px;
    line-height: 22px;
    white-space: normal;
    color: #999;
}

recommend-box .recommend-item-box p.content a, .article-list .recommend-item-box p.content a, .recommend-box .article-item-box p.content a, .article-list .article-item-box p.content a {
    font-size: 14px;
    color: #999;
}
@media (min-width: 1650px) {
.container main .recommend-box .type_blog .content .blog_title_box {
    width: 17%;
}}

.recommend-box  .desc {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
}

.recommend-box .recommend-item-box p.content a, .article-list .recommend-item-box p.content a, .recommend-box .article-item-box p.content a, .article-list .article-item-box p.content a {
    font-size: 14px;
    color: #999;
}

.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

.content .blog_title_box {
    width: 20%;
    text-align: right;
    float: right;
}

span.related-title {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 10px;
    color: #555;
}
