/* tablet breakpoint: 960px */
/* mobile breakpoint: 720px */

/* primary text color: #3d3d3d */
/* secondary text color: #3d3d3d */
/* menu color: #232323 */
/* theme color: #fd484d */
/* border color: #f4f4f4 */

/* svg element */
/* https://www.flaticon.com/packs */

/* ==== CSS reset ==== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:after, :before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* ==== Common ==== */
html, body {
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #3d3d3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: #3d3d3d;
    font-weight: 500;
}

h1 { font-size: 2.25rem; margin-bottom: 1rem; font-weight: bold;}
h2 { font-size: 2rem; margin-bottom: 1rem;}
h3 { font-size: 1.75rem; margin-bottom: 0.75rem; font-weight: bold;}
h4 { font-size: 1.50rem; margin-bottom: 0.75rem; font-weight: bold;}
h5 { font-size: 1.25rem; margin-bottom: 0.6rem; font-weight: bold;}
h6 { font-size: 1rem; margin-bottom: 0.6rem; font-weight: bold;}

a, a:hover, a:focus {
    cursor: pointer;
    color: #3d3d3d;
}

p {
    margin:0 0 1.5rem;
    line-height: 2rem;
    margin: 0 0 16px;
}

img {
    width: 100%;
    height: auto;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 1rem 0;
}

code {
    padding: 0.5rem;

}

body {
    background-color: #F7F7F7;
}

.noscroll {
    overflow: hidden;
}

/* ==== Header ==== */
.header-wrapper {
    margin: 3rem 0;
}

.header-top {
    height: 7rem;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.logo {
    display: flex;
    align-items: center;
}

.logo,
.logo:hover,
.logo:focus {
    color: #3d3d3d;
    font-size: 2.5rem;
}

.logo img {
    height: 80%;
    width: auto;
    padding-right: 1rem;
}

.meta-bar {
    display: inline-block;
    vertical-align: middle;
}

.meta-bar a {
    display: inline-block;
    line-height: 3rem;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    padding: 0px 1.5rem;
}

.search, .login, .signup {
    color: #fd484d;
}

.login {
    border: 1px solid #fd484d;
    border-radius: 0.25rem;
    margin-left: 1.5rem;
}

.search:hover, 
.signup:hover {
    color: #fd484d;
}

.login:hover {
    color: #fff;
    background-color: #fd484d;
}

#menu-icon {
    display: inline-block;
    height: 3rem;
    vertical-align: top;
    border: 1px solid #fd484d;
    border-radius: 0.25rem;
    margin-left: 1.5rem;
    padding: 0;
    display: none;
}

#menu-icon img {
    height: 3rem;
    width: 2rem;
    padding: 0 0.5rem;
    box-sizing: content-box;
}

.menu {
    width: 8rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

#menu-wrapper.sticky {
    position: fixed;
    top: 0;
}

.menu li a{
    font-size: 1.1rem;
    color: #232323;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.menu li a.menu-active {
    color: #fff;
    background-color: #fd484d;
}

.mobile-menu-background {
    display: none;
}

.mobile-menu-background.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.mobile-menu {
    position: fixed;
    height: 100%;
    max-width: 350px;
    width: 80%;
    z-index: 2;
    top: 0;
    left: -100vw;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 4rem 2rem 2rem 2rem;
    -moz-box-shadow: 2px 2px 5px #4a4a4a;
    -webkit-box-shadow: 2px 2px 5px #4a4a4a;
    box-shadow: 2px 2px 5px #4a4a4a;
    overflow: scroll; 
}

.mobile-menu.active {
    left: 0;    
}

.mobile-menu ul {
    padding: 1rem 0;
    text-align: center;
}

.mobile-menu ul li.mobile-menu-item a {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    line-height: 4rem;
    font-weight: 500;
    border-bottom: 1px solid #f4f4f4;
}

.mobile-menu-close {
    width: 2.5rem;
    height: auto;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

/* ==== list body ==== */
.container {
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
}

#content-wrapper {
    margin-bottom: 3rem;   
}

.main-content {
    flex-grow: 2;
    margin-right: 2rem;
    float: left;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.secondary-content {
    width: 30%;
    min-width: 300px;
    padding: 1.5rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.list-item {
    padding: 2rem;
    border-bottom: 1px solid #f4f4f4;
}

.list-item:hover {
    background-color: #fafafa;
}

.list-item-title a {
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: #3d3d3d;
}

.list-item-title a:hover {
    color: #fd484d;
}

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-meta img {
    height: 1rem;
    width: auto;
    padding-right: 0.5rem;
}

.post-meta span {
    padding-right: 1rem;
}

.post-meta .original {
    padding-right: 0.2rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
}

.pagination {
    padding: 3rem 2rem;
}

.pagination a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #3d3d3d;
    margin: 1rem 1rem 0 0;
    text-align: center;
    line-height: 2rem;
}

.pagination a:hover,
.pagination a.current{
    border-color: #fd484d;
    color: #fff;
    background-color: #fd484d;
}
/* ==== article body ==== */
.article-wrapper {
    padding: 2rem;
}

.tag-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.tag-list li a {
    padding: 0.2rem 0.3rem;
    border: 1px solid #fd484d;
    margin-right: 0.8rem;
    border-radius: 0.3rem;
    background-color: #fd484d;
    color: #fff;
}

.tag-list li a:hover {
    background-color: transparent;
    color: #fd484d;
}

.section-head {
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.section-head:after {
    content: '';
    display: block;
    width: 10%;
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 0.5rem;
    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;
}

.section-item li{
    padding-bottom: 0.5rem;
}

.section-item a:hover {
    color: #fd484d;
}

.breadcrumb {
    margin-bottom: 0.5rem;
}

.metadata {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #f4f4f4;
}

.original {
    border: 1px solid #3d3d3d;
    display: inline-block;
    padding: 0 0.2rem;
    margin-right: 0.5rem;
}

.article-content {
    font-size: 1.25rem;
    color: #3d3d3d;
    padding: 3rem 0 2rem; 
}
.article-content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    width: auto;
}

.article-content small{
    font-size: 0.8rem;
}

.article-content hr {
    background-color: #f4f4f4;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

.article-content dt {
    font-weight: bold;
}

.article-content dd {
    margin: 0 1.5em 1.5em;
}

.article-content ol {
    list-style: decimal;
}

.article-content ul {
    list-style: disc;
}

.article-content ul,
.article-content ol {
    margin: 0 0 1.5rem 2rem;
    padding: 0;
}

.article-content table {
    border-collapse: collapse;
    margin: 0 0 1.5rem;
    width: 100%;
}

.article-content tr {
    border-bottom: 1px solid #f4f4f4;
}

.article-content td {
    padding: 0.4rem;
}

.article-content th {
    padding: 0.4rem;
    text-align: left;
}

.article-content th:first-child,
.article-content td:first-child {
    padding-left: 0;
}

.article-content sup {
    top: -0.5rem;
}

sub {
    bottom: -0.25rem;
}

.article-content sub, 
.article-content sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.article-content abbr, 
.article-content acronym {
    border-bottom: 1px dotted #f4f4f4;
    cursor: help;
}

.article-content abbr[title] {
    border-bottom: 1px #f4f4f4 dotted;
    text-decoration: none;
}

.article-content pre {
    background-color: #fafafa;
    line-height: 1.6;
    margin-bottom: 1.6rem;
    max-width: 100%;
    overflow: auto;
    padding: 1.6rem;
}

.article-content blockquote {
    quotes: "" "";
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.article-content blockquote:before, 
.article-content blockquote:after {
    content: "";
}

.related-post-list {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid #f4f4f4;
}

/* ==== other body ==== */

/* ==== Sidebar ==== */
.right_sidebar:hover .section-head:after {
    width: 100%;
}

/* ==== Footer ==== */
footer {
    height: 100px;
}
/* ==== Responsive ==== */
/** max-width breakpoint **/
@media (max-width: 1228px) {
    .header-wrapper {
        margin: 0 0 1rem;
    }
}


/** tablet breakpoint **/
@media (max-width: 960px) {
    #menu-icon {
        display: inline-block;
    }

    #menu-wrapper {
        display: none;
    }

    .secondary-content {
        width: 25%;
        min-width: 250px;
    }
}

/** mobile breakpoint **/
@media (max-width: 720px) {
    .logo,
    .logo:hover,
    .logo:focus {
        font-size: 2rem;
    }

    .logo img {
        height: 60%;
    }

   .meta-bar .signup {
       display: none;
   }

   .meta-bar a {
        padding: 0 0.5rem;
        letter-spacing: 0.2rem;
   }

   .meta-bar .login {
       margin-left: 0.5rem;
   }

   .meta-bar #menu-icon {
        margin-left: 0.5rem;
   }

   .main {
       padding: 0 1rem;
   }

   .content{
       flex-direction: column;
   }

   .main-content {
       margin-right: 0;
   }

   .header-top {
    padding: 0 1.5rem;
   }

   .secondary-content {
       width: 100%;
   }
}
