<div class="header-wrapper">
    <div class="container">
        <header>
            <div class="header-top">
                <a class="logo" href="/">
                    <img src="/static/images/logo.png" />
                    <span>{{ config.site_name }}
                </a>
                <div class="meta-bar">
                    <!-- <a class="search">搜索</a> -->
                    {% if(is_login) %}
                    <a>用戶</a>
                    {% else %}
                    <a class="signup">註冊</a>
                    <a class="login">登錄</a>
                    {% end %}

                    <a id='menu-icon'>
                        <img src="/static/svgs/menu.svg" />
                    </a>
                </div>
            </div>
        </header>
    </div>
</div>
<div class='mobile-menu-background'>
</div>
<div class='mobile-menu'>
    <img class="mobile-menu-close" src="/static/svgs/cross.svg" />
    <ul>
        {% for menu in menu_left %}
            <li class="mobile-menu-item">
                <a href="/c/{{ menu['_id'] }}/" >
                    <span>{{ menu['name'] }}</span>
                </a>
            </li>
        {% end %}
    </ul>
</div>
{% include login-layer.html %}
