<div class="header-wrapper">
    <div class="container">
        <header>
            <div class="header-top">
                <a class="logo" href="/">
                    <img src="/static/images/logo.png" />
                    <span>{{ config.site_name }}
                </a>
                <div class="meta-bar">
                    <!-- <a class="search">搜索</a> -->
                    {% if user['is_login'] %}
                        <div class='user-dropdown-wrapper'>
                            <a class='user-name' >
                                {{user['user_name'][0].upper()}}
                            </a>
                            <div class='user-dropdown'>
                                <ul>
                                    <li>
                                        <a href="/mp/postedit/">寫文章</a>
                                    </li>
                                    <li>
                                        <a href="/mp/postlist/">管理文章</a>
                                    </li>
                                    <li>
                                        <a id="logout" href="/account/logout">登出</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <a href="/account/register?src=/" target="_blank" class="signup">註冊</a>
                        <a class="login">登錄</a>
                        <a href="/mp/postedit/" class="write-btn">
                            寫文章
                        </a>
                    {% end %}

                    <a id='menu-icon'>
                        <img src="/static/svgs/menu.svg" />
                    </a>
                </div>
            </div>
        </header>
    </div>
</div>
<div class='mobile-menu-background'>
</div>
<div class='mobile-menu'>
    <img class="mobile-menu-close" src="/static/svgs/cross.svg" />
    {% if user['is_login'] %}
        <div class='mobile-user-section'>
            <a class='user-icon' >
                {{user['user_name'][0].upper()}}
            </a>
            <span class='user-name'>{{user['user_name']}}</span>
            <div class='user-dropdown'>
                <ul>
                    <li>
                        <a href="/mp/postedit/">發布文章</a>
                    </li>
                    <li>
                        <a id='m-logout' href="/account/logout">登出</a>
                    </li>
                </ul>
            </div>
        </div>
    {% end %}

    {% try %}
    {% if menu_left %}
        <ul>
            {% for menu in menu_left %}
                <li class="mobile-menu-item">
                    <a href="/c/{{ menu['_id'] }}/" >
                        <span>{{ menu['name'] }}</span>
                    </a>
                </li>
            {% end %}
        </ul>
    {% end %}
    {% except %}
    {% end %}
</div>
{% include login-layer.html %}
