 	<script type="text/javascript" src="/static/js/common.js" ></script>
    <script async type="text/javascript" src="/static/js/login.js" ></script>
    <div id="login-layer-wrapper" class="overlay">
        <div class="login-layer">
                <img class="login-layer-close-button" src="/static/svgs/cross.svg">
            <div class="user-form">
                <form id="login-form" action="/account/login" method="post">
                    {% module xsrf_form_html() %}
                    <ul class="form-ul">
                        <li>
                            <input name="email" type="text"  placeholder="電子郵件">
                        </li>
                        <li>
                            <input name="passwd" type="password" value="" placeholder="請輸入密碼" autocomplete="off">
                        </li>
                        <li>
                            <div class="err-info" style="display:none">請輸入正確的登錄賬號或密碼</div>
                        </li>
                        <li>
                            <input type="submit" value="登录">
                        </li>

                        <li class="reg-link-container">
                            <a href="/account/register?src=/" target="_blank" class="reg-link">註冊</a>
                        </li>
                        <li class="reg-link-container">
                            <a href="/account/password_forgot/" target="_blank" class="reg-link">忘記密碼</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>