
{% try %}
{% if menu_left %}
    <div id="menu-wrapper">
        <ul class="menu" >
             <li>
                <a href="/" class="menu-active">
                    <span>推薦</span>
                </a>
                <a href="/newest" class="menu-active">
                    <span>最新</span>
                </a>
             </li>
            {% for menu in menu_left %}
                <li>
                    <a href="/c/{{ menu['_id'] }}/" >
                        <span>{{ menu['name'] }}</span>
                    </a>
                </li>
            {% end %}
        </ul>
    </div>
{% end %}
{% except %}
{% end %}

