<div class="related-post-list">
    <div class="section-head">相关文章</div>
    <div class="related-posts">
        {% for related_post in related_posts%}
            <div class="list-item">
                <h4>
                    <a href="/a/{{ related_post['_id'] }}" target="_blank" title="{{ related_post['title'] }}">
                        {{ related_post['title'] }}			
                    </a>	
                </h4>
                <p class="post-excerpt">
                    <a href="/a/{{ related_post['_id'] }}" target="_blank" title="{{ related_post['title'] }}">
                        {{ related_post['desc'] }}
                    </a>
                </p>
                <div class="post-meta">
                    <img src="/static/svgs/user.svg" />
                    <span>{{ related_post['user']['user_name'] }}</span>
                    <img src="/static/svgs/clock.svg" />
                    <span>{{ related_post['post_date'] }}</span>
                </div>
            </div>
        {% end %}
    </div>
</div>