{% if u_categorys %}
<div class="right_sidebar">
    <div>
        <div class="section-head">
            个人分类
        </div>
        <div>
            <section class="section-item">
              <!-- TODO -- 多余5个 个人分类时收起来多余分类，点击展开参考 https://blog.csdn.net/qq_31807385/article/details/84072543> -->
                <ul>
                    {% for u_category in u_categorys %}
                    <li>
                        <h5>
                            <a href="/c/{{ u_category['_id'] }}" target="_blank" class="news-link">
                                {{ u_category['name'] }}
                            </a>
                        </h5>
                    </li>
                    {% end %}
                </ul>
            </section>
        </div>
    </div>
</div>
{% end %}