{% extends "../base/author-base.html" %}

{% block left_sidebar %}
    {% include "../component/author-info.html" %}
    {% include "../component/u_categorys.html" %}
{% end %}

{% block page %}
    <div class="pagination clearfix">
        {% for i in range(1,11) %}
            {% if i == int(page) %}
                <a class="current" href="/u/{{author['_id']}}/{{ i }}/" title="第 {{ i }} 頁">{{ i }}</a>
            {% else %}
                <a href="/u/{{author['_id']}}/{{ i }}/" title="第 {{ i }} 頁">{{ i }}</a>
            {% end %}
        {% end %}
    </div>
{% end %}

