{% extends "../base/user-base.html" %}

{% block title %}
    <title>寫博客 - {{ config.site_name}}</title>
{% end %}

{% block content-body %}
        <div class="col-12 col-md-10" id="content-body">
            <div class="title-box">
                <input type="text" id="txtTitle" maxlength="100" placeholder="輸入文章標題" value="">
            </div>
            <div class="section">
                <textarea id="editor" name="editor" rows="30"
                          style="width: 99.4%; display: none; visibility: hidden;"></textarea>
            </div>
            <div id="moreDiv">
                <div class="pos-box">
                    <div class="form-group row form-control-sm tags-group">
                        <label class="labTitle col-form-label">文章標籤：</label>
                        <div class="txt-box">
                            <div class="tag-box d-flex flex-row" id="articleTagBox">
                                <input id="tags" type="text" name='tags' data-display-name='標籤' data-role="tagsinput" value="" placeholder="輸入最多5個文章標籤">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row form-control-sm tags-group">
                        <label class="labTitle col-form-label">個人分類：</label>
                        <div class="txt-box">
                            <div class="tag-box d-flex flex-row" id="articleCatgoryBox">
                                <input id="category" name='category' type="text" data-display-name='文章分類' data-role="tagsinput" value="" placeholder="輸入文章分類">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row form-control-sm d-flex">
                        <label class="labTitle col-form-label">文章類型：</label>

                        <label class="labTitle col-form-label ml-24">博客分類：</label>
                        <div class="txt-box">
                            <select class="droBlogType" id="radChl" name="radChl">
                                <option value="0">選擇分類</option>
                                <option value="28">人工智能</option>
                                <option value="1">移動開發</option>
                                <option value="29">物聯網</option>
                                <option value="15">架構</option>
                                <option value="2">雲計算/大數據</option>
                                <option value="17">互聯網</option>
                                <option value="30">遊戲開發</option>
                                <option value="12">運維</option>
                                <option value="6">數據庫</option>
                                <option value="14">前端</option>
                                <option value="31">後端</option>
                                <option value="16">編程語言</option>
                                <option value="3">研發管理</option>
                                <option value="32">安全</option>
                                <option value="33">程序人生</option>
                                <option value="34">區塊鏈</option>
                                <option value="35">音視頻開發</option>
                                <option value="36">資訊</option>
                                <option value="37">計算機理論與基礎</option>
                            </select>
                            <span class="required">*</span>
                        </div>
                    </div>
                    {% if user['is_active'] != 0 %}
                    <div class="opt-box row unfull">
                        <label class="labTitle col-form-label"></label>
                        <div class="txt-box">
                            <input id="btnPublish" type="button" class="btn btn-outline-danger" value="發佈博客"
                                   title="發佈博客">
                        </div>
                    </div>
                    {% end %}
                </div>
            </div>
            <div class="alert-container finished-box" id="alertSuccess">
                <div class="pos-box">
                    <div class="text-center title">標題</div>
                    <div class="text-center status-box">
                        <i class="icon-success-font c-green"></i>文章發布成功
                    </div>
                    <p class="text-center zhaiyao">文章摘要由系統生成</p>
                    <div class="opt-box text-center">
                        <a class="btn  btn-outline-danger btn-new mr24" href="/mp/postedit/">寫新文章</a>
                        <a class="btn  btn-outline-danger tolist mr24" href="/mp/postlist/">管理博文</a>
                        <a class="btn  btn-outline-danger toarticle">查看文章</a>
                    </div>
                </div>
            </div>
        </div>
        {% if user['is_active'] == 0 %}
            {% include ../component/email-validation-layer.html %}
        {% end %}
{% end %}


{% block postedit %}
    {% if post['post_id'] !=0 %}
    <script type="text/template" id="contentData">{% raw content %}</script>
    <script>
        var text = '{% raw post_json %}';
        var contentData = $('#contentData').html();
        jsonData = JSON.parse(text);
    </script>

    {% end %}
    <script>
        token = getCookie('_xsrf');
        CKEDITOR.replace('editor',{
    filebrowserBrowseUrl: '/mp/ckupload/',
    filebrowserImageBrowseUrl: '/mp/ckupload/',
    filebrowserUploadUrl: '/mp/ckupload/',
    filebrowserImageUploadUrl: '/mp/ckupload/',
    filebrowserUploadMethod :'xhr',
    fileTools_requestHeaders: {
            'X-CSRFToken': token,
        }
});
    </script>
{% end %}