{% extends "../base/question-base.html" %}

{% block right_sidebar %}
    {% include ../component/author-info.html %}
    {% include ../component/hot-news.html %}
    {% include ../component/new-articles.html %}
    {% include ../component/u_categorys.html %}
{% end %}

{% block more-content %}
    {% include ../component/user-answer.html %}
    {% include ../component/question-form.html %}
    {% if related_posts %}
        {% include ../component/related-question.html %}
    {% end %}
{% end %}