{% extends "../base/plain-page-base.html" %} 
    
{% block metadata %}
    <script async type="text/javascript" src="/static/js/register.js" ></script>    
{% end %}

{% block header %}
{% include "../component/header-no-menu.html" %}
{% end %}

{% block content-body %}
    <h1>創建您的通行證賬號</h1>
    <div class='user-form'>
        <form id="register-form" action="/account/register" method="post">
            {% module xsrf_form_html() %}
            <ul class='form-ul'>
                <li>
                    <input autocomplete="off" name="email" type="text" placeholder="郵箱">
                </li>
                <li>
                    <input autocomplete="off" name="passwd" type="password" value="" placeholder="請輸入密碼" autocomplete="off" >
                </li>
                <div id="showResult"></div>
                <div class="err-info"></div>
                <li>
                    <input type="submit" value="註冊">
                </li>           
            </ul>
        </form>
    </div>              
{% end %}